* {

    /* border: 1px solid red; */
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 100vh;
}

div, ul {
    display: flex;
    gap:15px;
}

body > div {
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
}

.header, .hero, .footer  {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    justify-content: flex-end;
    text-decoration: none;
}

.header a, .hero .secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero,.content,.quote,.cta {
    flex: 1 1 auto;
    padding-top: 75px;
    padding-bottom: 75px;
}

.hero-text {
    flex-direction: column;
    text-align: justify;
    justify-content: space-around;
    gap:15px;
}

button {
    max-width: 100px;
    padding: 5px 15px;
    background-color: #3882f6;
    color:#F9FAF8;
    font-weight: 900;
    border-radius:7px;
    flex: 0 0 auto;
}

.hero .main {
    display: inline;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}

.hero-img {
    max-width: 50%;
    border-radius:7px;
    
}

.content {
    flex-direction: column;
    justify-content: space-evenly;
    color: #1F2937;
    align-items: stretch;
}

.content-maintext
{
    font-size: 36px;
    font-weight: 900;
    align-self: center;
}

.card-container {
    justify-content: space-evenly;
}

.card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    
}

.card img {
    max-width: 200px;
    max-height: 200px;
    border-radius:7px;
    border: 3px solid #3882f6;

}

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-signature {
    align-self: flex-end;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
}

.cta .box {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 45px 60px;
    border-radius:7px;
    

}

.cta .text {
    flex-direction: column;
    justify-content: center;
    gap:0;
    margin-right:100px ;
    align-items: left;
}

.cta .main {
    font-weight: 900;
}

.cta button {
    border: 2px solid #F9FAF8;
}

.footer {
    font-size: small;
}